<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS9163 Assignment 02 Spell-Check</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}"> -->
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css.map') }}"> -->
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">CS9163 Assignment02 SpellCheck</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if session.log %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('spell_check') }}">SpellCheck</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('history') }}">History</a>
                </li>
                
                {% if session.ifAdmin %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ url_for('login_history') }}">LoginHistory</a>
                </li>
                {% endif %}

                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('register') }}">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    {% include "includes/_message.html" %}
    {% block body %}    
    {% endblock %}
</body>
</html>